요소를 화면에서 숨기는 방법

1) BAD
스크린 리더가 인식하지 못하기 때문에, 다음 중 어느 속성이라도 사용하지 말아야 합니다.
각각 3가지 방법
.bad{
    /* opacity투명도를 0으로 주는 것과 동일하게 화면에서 사라지지만, 스크린 리더 인식 안함 */
    visibility: hidden;
    /* 요소가 아예 없는 것으로 인식 */
    display: none;
    /* 요소의 사이즈를 0으로 만들면 스크린 리더 인식 안함 */
    width: 0; height: 0; font-size: 0; line-height: 0;
}

2) SO SO
각각 3가지 방법
스크린 리더가 인식하지만 레이아웃이나 성능 등에 이슈가 발생할 수 있기 때문에, 상황에 맞게 사용하여야 합니다. 참고로  text-indent 값을 100%로 처리함으로서 성능 이슈는 피할 수 있습니다.
/* 투명해진 것 뿐, 위치를 그대로 잡고 있기 때문에 단독으로 사용 불가능 */
.soso{
    opacity: 0;
    /* 전체 레이어의 크기가 지나치게 크게 잡힘: 성능 이슈  */ (화면 밖으로 날리고 싶다면 100%만 해도 okay)
    양수 오른쪽 음수 왼쪽, 여러줄일 때.
    text-indent: -9999px;
    /* 이미지 밑으로 텍스트가 깔리도록 처리하는 방법 */
    /* position default, static X, 속성 추가해야 함_보통 relative: 성능 이슈  */
    z-index: -1;
}
